In [43]:
import pandas as pd
df = pd.read_csv('./boston.csv')

In [4]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,CAT. MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,1

#### boston 데이터 세트의 MEDV 칼럼에 대해서 가장 작은 값부터 순서대로 10개행을 출력해야 한다. 즉, 오름차순으로 정렬된 MEDV값에 서 Top 10을 구하시오

In [8]:
df.sort_values(by='MEDV').MEDV.head(10)

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

#### boston 데이터 세트의 RM 칼럼에 대한 결측치 처리를 평균값으로 대치하거나 삭제할 수 있다. RM 칼럼의 결측치를 평균값으로 대치한 후에 산출된 표준편차 값과 결측치를 삭제한 후에 산출된 표춘편차 값의 차이를 구하시오. 단, 최종적으로 출력하는 차이는 양수이다.

In [46]:
data = pd.read_csv('./boston.csv')
data_mean = data['RM'].copy()
rm_mean = data_mean.mean()
data_mean.fillna(rm_mean, inplace = True)
data_del = data['RM'].copy()
data_del.dropna(inplace=True)
print(abs(data_mean.std()-data_del.std()))

0.0

#### boston 데이터 세트의 ZN 칼럼을 대상으로 ZN 값의 평균값에서 표준편차의 1.5배보다 크거나 작은 ZN 값의 합계를 구하시오

In [62]:
zn_mean = df['ZN'].mean()
zn_std = df['ZN'].std()
zn_max = zn_mean + (1.5 * zn_std)
zn_min = zn_mean - (1.5 * zn_std)
zn_min
zn_max2 = data[data['ZN'] > zn_max].ZN
zn_min2 = data[data['ZN'] < zn_min].ZN
zn_max2.sum() + zn_min2.sum()

3462.5

#### CHAS 칼럼과 RAD 칼럼을 제외한 칼럼에 한해서 칼럼별 IQR값을 구하시오. 단 출력 구조는 2열이고 1열은 보스턴 데이터 세트의 칼럼 이름이 표시되어야 한다.|

In [69]:
df2 = df.drop(columns = ['CHAS', 'RAD'])
iqr = df2.quantile(0.75) - df2.quantile(0.25)
iqr

CRIM           3.595038
ZN            12.500000
INDUS         12.910000
NOX            0.175000
RM             0.738000
AGE           49.050000
DIS            3.088250
TAX          387.000000
PTRATIO        2.800000
B             20.847500
LSTAT         10.005000
MEDV           7.975000
CAT. MEDV      0.000000
dtype: float64

#### MEDV 칼럼을 기준으로 30번째로 큰 값을 1번 ~29번째로 큰 값에 적용한다. 그리고 MEDV 칼럼의 평균값, 중위값, 최솟값, 최댓값 순으로 한줄에 출력하시오.

In [107]:
value30 = df['MEDV'].sort_values(ascending=False).iloc[29]
medv_df = df['MEDV'].sort_values(ascending=False)
medv_df.iloc[0:28] = value30
print(medv_df.mean(), medv_df.median(), medv_df.min(), medv_df.max())

22.180830039525684 21.2 5.0 42.3

#### TAX 칼럼이 TAX 칼럼의 중위값 보다 큰 데이터를 대상으로, CHAS 칼럼과 RAD 칼럼 순으로 그룹을 지은 후 각 그룹의 데이터 개수를 구하시오. 단, CHAS, RAD 칼럼별 데이터 개수는 COUNT라는 칼럼으로 출력합니다

In [150]:
tax_df = df[df['TAX'] > df['TAX'].median()][['CHAS', 'RAD']]
tax_df2 = tax_df.groupby(['CHAS', 'RAD']).RAD.count()
tax_df3 = pd.DataFrame(tax_df2)
tax_df3.columns = ['COUNT']
tax_df3

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

#### TAX칼럼을 오름차순으로 정렬한 결과와 내림차순으로 정렬한 결과를 각각 구한다. 그리고 각 순번에 맞는 오름차순 값과 내림차순 값의 차이를 구하여 분산 값을 출력하시오

In [182]:
df = pd.read_csv('./boston.csv')
df_asc = df['TAX'].copy()
df_dsc = df['TAX'].copy()
df_asc.sort_values(ascending= True, inplace=True)
df_dsc.sort_values(ascending=False, inplace=True)
df_asc.reset_index(drop=True, inplace=True)
df_dsc.reset_index(drop=True, inplace=True)
df_concat = pd.concat([df_asc, df_dsc], axis=1)
df_concat['diff'] = abs(df_concat.iloc[:,0] - df_concat.iloc[:,1])
df_concat['diff'].var()

28490.5986459515

#### MEDV칼럼을 최소최대 척도(Min - Max Scale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 구하시오.

In [195]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data_minmax = scaler.fit_transform(df)
data_minmax = pd.DataFrame(data_minmax, columns = df.columns)
data_minmax[data_minmax['MEDV'] > 0.5].MEDV.count()

106

#### AGE 칼럼을 소수점 첫 번째 자리에서 반올림하고, 가장 많은 비중을 차지하는 AGE값과 그 개수를 차례대로 출력하시오. 즉, AGE 칼럼의 최빈값과 그 개수를 출력하시오.

In [230]:
df['AGE'] = df['AGE'].round(0)
temp = {}
for i in df['AGE']:
    if i not in temp:
        temp[i] = 1
    else:
        temp[i] = temp[i]+1

result = [0, 0]
for x, y in temp.items():
    if result[1] < y:
        result[0] = x
        result[1] = y
result

[100.0, 43]

In [239]:
from scipy.stats import mode
int(mode(df['AGE'].round(0))[0])
int(mode(df['AGE'].round(0))[1])

43

#### DIS 칼럼을 표준화 척도로 변환한 후, 0.4보다 크면서 0.6보다 작은 값들에 대한 평균을 구하시오. 단 소수점 셋째 자리에서 반올림하여 소수점 둘째 자리까지 출력하시오

In [257]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_standard = scaler.fit_transform(df)
df_standard = pd.DataFrame(df_standard, columns = df.columns)
round(df_standard[(0.4 < df_standard['DIS']) & (0.6 > df_standard['DIS'])].DIS.mean(),2)

0.48

#### 전체 칼럼에 대해서 중복을 제거한 유니크한 값을 구한 후, 칼럼별로 유니크 한 값의 개수를 기준으로 평균값을 구하시오

In [342]:
df = pd.read_csv('./boston.csv')
#df.fillna("null",inplace=True)
columns = df.columns
result = 0
for column in columns:
    result += len(df[column].dropna().unique())
result / len(columns)

218.0